/10_Functions and Statements - Exercises
/11_Functions and Statements - More Exercises
/12_Objects and Classes - Lab
/13_Objects and Classes - Exercises
/14_Objects and Classes - More Exercises
/15_DOM Introduction - Lab
/16_DOM Introduction - Exercise
/18_DOM Manipulation and Events - Exercise
/20_Asynchronous Programming-Lab
/21_HTTPandAJAXExercise
/5_JS Syntax Fundamentals - More Exercises
/6_JS Arrays and Strings-Lab
/7_JS Arrays and Strings-Exercise
/8_JS Arrays and Strings-More Exercise
/9_Functions and Statements - Lab
/Exams
/package-lock.json